<!DOCTYPE html>
<html>
    <head>
        <title>jQuery json-viewer</title>
        <meta charset="utf-8" />

        <script src="http://code.jquery.com/jquery-2.1.3.min.js"></script>
        <script src="javascripts/jquery.json-viewer.js"></script>
        <link href="stylesheets/jquery.json-viewer.css" type="text/css" rel="stylesheet" />
    </head>
    <body>
        <div style="padding-left: 2rem; border: 1px solid #aaa">
            <a id="allCategories"> allCategories </a><br/>
            <a id="allProducts"> allProducts </a><br/>
        </div>


        <div><br/><br/><br/><br/><br/><br/></div>
        <div style="padding-left: 2rem; border: 1px solid #aaa"><pre id="json-renderer"></pre></div>
        <script>
            $( "#allCategories" ).click(function() {
                $.get( "/allCategories", function( data ) {
                    var data = JSON.parse('<%-JSON.stringify(category_list) %>');
                    $('#json-renderer').jsonViewer(data);
                });
            });

            $( "#allProducts" ).click(function() {
                $.get( "/allProducts", function( data ) {
                    var data = JSON.parse('<%-JSON.stringify(category_list) %>');
                    $('#json-renderer').jsonViewer(data);
                });
            });

        </script>
    </body>
</html>